<!DOCTYPE html>
<html>
  <head>
    <title>AAFES Barber Shop at Camp Arifjan, Kuwiat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <header class="text-center">
    <div class="container">
      <h1>AAFES BARBER SHOP AT CAMP ARIFJAN, KUWAIT</h1>
      <img class="main-image jumbotron" src="/images/CampArifjanpic.jpg" alt="arial image of Camp Arifjan">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/stylists">ALL BARBERS</a></li>
        <li><a href="/clients">ALL CLIENTS</a></li>
        <li><a href="/stylists/new">ADD NEW BARBER</a></li>
      <ul>
    </div>
  </header>
  <body>
    <div class="container">

          #parse( $template )

    </div>
  </body>
</html>
